svg .line {
    stroke:#999999;
    stroke-width:5;
}

svg .circle {
    fill:#999999; 
    stroke:#ffffff; 
    stroke-width:3;
}

svg .polygon {
    fill:#eeeeee;
    stroke:#999999;
    stroke-width:1;
    opacity: 1;
}

svg .polygon:hover {
    fill:Gold;
    stroke:GoldenRod;
    stroke-width:1;
    opacity: 1;
}

.textBase {
    font-size: 12px;
    font-family: Arial;
}

svg .date {
    stroke-width:1;
    stroke:#000000;
    kerning:1.2;
}

.bord {
    border-radius: 25px;
    border: 2px solid #999999 ;
    padding: 20px;
    width: 1040px;
}